.App {
  max-width: 960px;
  margin: 0 auto;
  font-size: 1rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 64px;
}

img {
  width: 100%;
}

.header,
.image-container {
  flex: 1;
  margin: 48px;
}

.header-text {
  margin-bottom: 24px;
}

.input {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  width: 100%;
}

.input:focus {
  border: 1px solid #5436d6;
}

.results-placeholder {
  flex: 1;
  background: #f3f4f4;
  text-align: center;
  padding-top: 50%;
  color: #cccccc;
}

.image-container {
  display: flex;
  background: #ffffff;
  border: 1px solid #dddddd; /* Card - Normal */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.footer {
  width: 100%;
  text-align: center;
}
